
 <ion-view> 	
 	<ion-content padding="true">
    <button class="button button-block button-positive" ng-click="facebookLogin1()">
	  Registrarse con Facebook
	</button>
	<button class="button button-block button-calm" ng-click="facebookStatus()">
	  Registrarse con Twitter
	</button>
	<button class="button button-block button-assertive" ng-click="facebookStatus()">
	  Registrarse con email
	</button>

	<div class="list">
	<form ng-submit="createTask(task)">
	  <label class="item item-input">
	    <input name="name" type="text" placeholder="name">
	  </label>
	  <label class="item item-input">
	    <input name="email" type="text" placeholder="email">
	  </label>
	  <label class="item item-input">
	    <input name="paswword" type="text" placeholder="*****">
	  </label>
	  <button type="submit" class="button button-block button-positive">Registrarse</button>
	</form>  
	</div>

	</ion-content>
</ion-view>	