
 <ion-view> 	
 	<ion-content padding="true">
	    <button class="button button-block button-positive" ng-click="facebookLogin()">
		  Registrarse con Facebook
		</button>
		<h2>{{usersCtrl.user}}</h2>
	<!--
	<button class="button button-block button-assertive" ng-click="facebookStatus()">
	  Registrarse con email
	</button>

	<div class="list">
	<form name="registerForm" ng-submit="">
	  <label class="item item-input">
	    <input name="name" type="text" placeholder="name" required>
	  </label>
	  <label class="item item-input">
	    <input name="email" type="email" placeholder="email" required>
	  </label>
	  <label class="item item-input">
	    <input name="paswword" type="password" placeholder="*****" required>
	  </label>
	  <button type="submit" class="button button-block button-positive" ng-disabled="registerForm.$invalid">Registrarse</button>
	</form>
	
	</div>
	--> 

	</ion-content>
</ion-view>	